<h1>Be Better!</h1>

<h2></h2>

<ul>


</ul>

<h2>Add your goal</h2>
<!--- Navbar -=-=-=-=-=-=-=-=-=-=-=-   ------------------->


    <div class="col-sm-12 col-lg-12">
      <h2>Be Better application</h2>
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <p class="lead text-muted">Set your goals and your life better :)</p>

          <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img src='https://vignette.wikia.nocookie.net/trcwtauto/images/b/b8/Gear-icon-291x300.png/revision/latest?cb=20141003201112'alt="Settings" width="60" height="60"></a></li>
              </ul>
            </div>
          </nav>

<!-- Tables -->


          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <h2>Daily Goals</h2>
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <p class="lead text-muted"></p>
                  <table class="table table-striped" data-effect="fade">
                    <thead>
                      <tr>
                        <th>#id</th>
                        <th>Target name</th>
                        <th>Type</th>
                        <th>Frequency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Do Plank for 5 minutes</td>
                        <td>5</td>
                        <td><img src="https://cdn4.iconfinder.com/data/icons/clock-and-time/32/24-hours-512.png" alt="Daily" width="50" height="50"></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Drink at least 6 cups of water</td>
                        <td>No</td>
                        <td><img src="https://cdn1.iconfinder.com/data/icons/office-22/48/calendar-512.png" alt="Weekly" width="50" height="50"></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Learn javascript for 1 hour / day</td>
                        <td>Yes</td>
                        <td><img src="https://image.flaticon.com/icons/png/512/34/34858.png" alt="Weekly" width="50" height="50"></td>
                      </tr>

                <td><a class="btn btn-block btn-default" href="#">See Stats</a></td>
                <td><a class="btn btn-block btn-default" href="#">Update Status</a></td>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
