<h1>Be Better!</h1>

<h2></h2>

<ul>


</ul>

<h2>Add your goal</h2>
<!--- Navbar -=-=-=-=-=-=-=-=-=-=-=-   ------------------->


    <div class="col-sm-12 col-lg-12">
      <h2><a href="#"><img src='./public/img/Logo.png' alt="Logo" height="200">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><img src='https://vignette.wikia.nocookie.net/trcwtauto/images/b/b8/Gear-icon-291x300.png/revision/latest?cb=20141003201112'alt="Settings" width="60" height="60"></a></li>
          </ul></a></h2>
    </div>

<!-- Tables -->


          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="row">
                <div class="col-sm-12 col-lg-12">
                  <p class="lead text-muted"></p>
                  <table class="table table-striped" data-effect="fade">
                    <thead>
                      <tr>
                        <th>Target name</th>
                        <th>Type</th>
                        <th>Frequency</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Do Plank for 5 minutes</td>
                        <td>5</td>
                        <td><img src="https://cdn4.iconfinder.com/data/icons/clock-and-time/32/24-hours-512.png" alt="Daily" width="50" height="50"></td>
                      </tr>
                      <tr>
                        <td>Drink at least 6 cups of water</td>
                        <td>No</td>
                        <td><img src="https://cdn1.iconfinder.com/data/icons/office-22/48/calendar-512.png" alt="Weekly" width="50" height="50"></td>
                      </tr>
                      <tr>
                        <td>Learn javascript for 1 hour / day</td>
                        <td>Yes</td>
                        <td><img src="https://image.flaticon.com/icons/png/512/34/34858.png" alt="Weekly" width="50" height="50"></td>
                      </tr>

                <td><a class="btn btn-block btn-default" div="stats-btn" href="#">See Stats</a></td>
                <td><a class="btn btn-block btn-default" div="update-btn" href="#">Update Status</a></td>

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>


  </body>

  <!--  Footer -->

  <footer class="text-center" style="position: fixed; height: 100px; bottom: 0; width: 100%;">
    <p>&copy; Vishy Anastasia Pavel</p>
    <div class="credits">

      <a href="https://github.com/qwerty">Project #2</a> by <a href="https://github.com/qwerty">Project #2</a>
    </div>

    <div class="col-md-12 py-5">

               <div class="mb-5 flex-center">

                   <!--Facebook-->
                   <a class="fb-ic">
                       <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Twitter-->
                   <a class="tw-ic">
                       <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Google +-->
                   <a class="gplus-ic">
                       <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Linkedin-->
                   <a class="li-ic">
                       <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Instagram-->
                   <a class="ins-ic">
                       <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                   </a>
                   <!--Pinterest-->
                   <a class="pin-ic">
                       <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                   </a>
               </div>
           </div>
  </footer>
