<h1>Be Better!</h1>

<h2>h2</h2>

<ul>

</ul>

<h2>Add your goal</h2>
<form class='create-form'>

  <div class='form-group'>
    <label for='habit'>Habit name:</label>
    <input type='text' id='habit' name='name'>
  </div>

  <button type='submit'>Add Habit</button>
</form>


<div class="col-sm-12 col-lg-12">

  <h2>Be Better application</h2>
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <p class="lead text-muted">Set your goals to make your life better :)</p>


      <!-- Tables -->
      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <h2>Daily Goals</h2>
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <p class="lead text-muted"></p>
              <table class="table table-striped" data-effect="fade">
                <thead>
                  <tr>
                    <th>#id</th>
                    <th>Target name</th>
                    <th>Type</th>
                    <th>Frequency</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Do Plank for 5 minutes</td>
                    <td>5</td>
                    <td>
                      <img src="https://cdn4.iconfinder.com/data/icons/clock-and-time/32/24-hours-512.png" alt="Daily" width="50"
                        height="50">
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Drink at least 6 cups of water</td>
                    <td>No</td>
                    <td>
                      <img src="https://cdn1.iconfinder.com/data/icons/office-22/48/calendar-512.png" alt="Weekly" width="50"
                        height="50">
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Learn javascript for 1 hour / day</td>
                    <td>Yes</td>
                    <td>
                      <img src="https://image.flaticon.com/icons/png/512/34/34858.png" alt="Weekly" width="50" height="50">
                    </td>
                  </tr>

                  <td>
                    <a class="btn btn-block btn-default" href="#">See Stats</a>
                  </td>
                  <td>
                    <a class="btn btn-block btn-default" href="#">Update Status</a>
                  </td>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>



        {{!-- <div class='form-group'>
    <label for='habit'>Habit name:</label>
    <input type='text' id='habit' name='name'>
  </div> --}}